extends layout

block content
	h2 这是主页~
	each post,index in posts
		h2
			a(href='u/#{post.name}/#{post.time.day}/#{post.title}') #{post.title}
		p.info
			| 作者： 
			a(href='u/#{post.name}') #{post.name}
			|  | 日期： #{post.time.minute}
		p #{post.post}

	include paging
